<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>

<!--fontawesome-->

<script defer
	src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
	integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
	crossorigin="anonymous"></script>



<title>HEALING HAND HOSPITAL</title>
<style>
.divider:after, .divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;
}
body{
  background-image: url('images/bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.contact-form {
	border: thick;
}

.form-horizontal {
	width: 50%;
	margin-left: 15%;
}

h2 {
	width: 50%;
	margin-left: 15%;
	margin-top: 15%;
}
.nav-pills li {
  width:100%
}


</style>
</head>
<body>


	<nav class="navbar navbar-expand-md navbar-light bg-dark">
		<a class="navbar-brand" href="#"><image src="images/logo.png"
				alt="image" width="50" height="50"
				style="margin-left:10px;margin-right:10px;"></image> <b class="text-white fs-3" style="font-size:30;">HEALING HAND HOSPITAL</b></a>
		<button type="button" class="navbar-toggler bg-light"
			data-toggle="collapse" data-target="#nav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between "
			id="nav">

		</div>
	</nav>

	
			<div class="img">
				<h1 style="margin-left:30%; margin-top:20%">Something went wrong</h1>
			</div>
</body>
</html>